@charset "UTF-8";
body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

#hero {
  background-color: #016f5c;
  padding-top: 0.5rem;
}
#hero .burger-menu {
  display: none;
}
#hero .burger-menu .burger-menu-button {
  border-color: transparent;
  background-color: transparent;
  font-size: 2rem;
}
#hero .burger-menu .offcanvas {
  background-color: #016f5c;
  width: 100%;
}
#hero .burger-menu .offcanvas .offcanvas-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ff6718;
}
#hero .burger-menu .offcanvas .navLogoCanvas {
  border-radius: 1000px;
  width: 100px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
}
#hero .burger-menu .offcanvas-body {
  background-color: #fff;
}
#hero .navLogo {
  width: 100px;
  height: 45px;
}
#hero .navbar-nav {
  flex-direction: row;
  gap: 30px;
}
#hero .navbar-nav .nav-item {
  color: #fff;
}
#hero .navbar-nav .nav-item .dropdown-menu {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  inset: 0px auto auto -40px !important;
}
#hero .formDiv {
  width: 100%;
  display: flex;
}
#hero .formDiv .formX {
  width: 55%;
}
#hero .formDiv .form-control {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}
#hero .formDiv .form-control:focus {
  box-shadow: none;
  border-color: #fff;
}
#hero .formDiv .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4901960784);
}
#hero .formDiv .form-control::placeholder {
  color: rgba(255, 255, 255, 0.4901960784);
}
#hero .formDiv .buttons {
  display: flex;
  width: 45%;
}
#hero .formDiv .buttons .btn-warning {
  width: 100%;
  color: #fff;
  background-color: #ff6718;
  border-color: #ff6718;
}
#hero .formDiv .buttons .btn-light {
  width: 100%;
}
#hero .leftSide {
  padding: 9rem 5rem;
}
#hero .leftSide .left-side-text h1 {
  font-size: 4rem;
  font-weight: 700;
  font-style: italic;
  color: #fff;
}
#hero .leftSide .left-side-content p {
  color: #fff;
  font-weight: 100;
  font-size: 1.2rem;
}
#hero .leftSide .left-side-buttons {
  width: 100%;
}
#hero .leftSide .left-side-buttons .btn-warning {
  width: 45%;
  color: #fff;
  background-color: #ff6718;
  border-color: #ff6718;
  transition: all 0.5s ease;
}
#hero .leftSide .left-side-buttons .btn-warning:hover {
  opacity: 0.9;
}
#hero .leftSide .left-side-buttons .btn-light {
  width: 45%;
}
#hero .rightSide {
  padding: 5rem 5rem;
}

#sectionOne .sectionTop {
  padding: 5rem 5rem;
}
#sectionOne .sectionTop .sectionText {
  font-size: 4rem;
  font-weight: 300;
  color: #404040;
}
#sectionOne .sectionContent .nav .nav-link {
  color: #808080;
}
#sectionOne .sectionContent .nav .nav-link.active {
  color: #ff6718;
}
#sectionOne .tab-content {
  margin-top: 2rem;
}
#sectionOne .tab-content .tab-pane-content {
  margin-top: 2rem;
  width: 100%;
}
#sectionOne .tab-content .tab-pane-content .tab-pane-number {
  width: 5%;
  align-self: center;
}
#sectionOne .tab-content .tab-pane-content .tab-pane-number span {
  width: 78px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 400;
  color: #e0e0e0;
}
#sectionOne .tab-content .tab-pane-content .tab-pane-user {
  width: 25%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
#sectionOne .tab-content .tab-pane-content .tab-pane-user .user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
#sectionOne .tab-content .tab-pane-content .tab-pane-user .user-img .userImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#sectionOne .tab-content .tab-pane-content .user .user-id {
  color: #016f5c;
  font-size: 1.2rem;
  font-weight: 900;
  cursor: pointer;
}
#sectionOne .tab-content .tab-pane-content .user .subject {
  font-style: italic;
}
#sectionOne .tab-content .tab-pane-content .user-write {
  width: 70%;
}
#sectionOne .sec_bottom {
  margin: auto;
  text-align: center;
}
#sectionOne .sec_bottom .whoButton {
  padding-top: 2.5rem;
  width: 100%;
}
#sectionOne .sec_bottom .whoButton .whoBtn {
  color: #fff;
  height: 52px;
  font-size: 17px;
  font-weight: 600;
  background-color: #ff6718;
  border-color: #ff6718;
  transition: all 0.5s ease;
}
#sectionOne .sec_bottom .whoButton .whoBtn:hover {
  background-color: #d65915;
}

#sectionTwo {
  padding: 10rem 5rem;
}
#sectionTwo .sectionText {
  font-size: 4rem;
  font-weight: 300;
  color: #404040;
}
#sectionTwo .box-model-text {
  padding: 5rem 0;
}
#sectionTwo .box-model-text .box-text h3 {
  font-size: 3rem;
  font-weight: 400;
  color: #404040;
}
#sectionTwo .box-model-text .box-text-content {
  padding: 2rem 0;
}
#sectionTwo .box-model-text .box-text-link {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
#sectionTwo .box-model-text .box-text-link a {
  color: #ff6718;
  text-decoration: none;
  font-size: 1.5rem;
}
#sectionTwo .box-model-text .box-text-link i {
  position: absolute;
  top: 2px;
  transition: all 0.7s ease;
  color: #fff;
  font-size: 1.5rem;
}
#sectionTwo .box-model-text .box-text-link:hover i {
  transform: translateX(1rem);
  color: #ff6718;
}

#sectionThree {
  background-color: #eeeeee;
  padding: 5rem 5rem;
}
#sectionThree .sectionTextP {
  padding-bottom: 5rem;
}
#sectionThree .sectionTextP .sectionText {
  font-size: 4rem;
  font-weight: 300;
  color: #404040;
}
#sectionThree .collapseParent {
  width: 60%;
  margin: auto;
}
#sectionThree .collapseParent .collapseOne .collapseBtn {
  text-align: start;
  display: flex;
  gap: 1rem;
  width: -moz-fit-content;
  width: fit-content;
}
#sectionThree .collapseParent .collapseOne .collapseBtn i {
  font-size: 1.8rem;
  color: #ff6517;
  align-self: center;
  -webkit-text-stroke: 1px #ff6517;
}
#sectionThree .collapseParent .collapseOne .collapseBtn a {
  color: #404040;
  text-decoration: none;
  font-size: 3rem;
}
#sectionThree .collapseParent .myShow .card-body {
  background-color: #eeeeee;
  border-color: #eeeeee;
}
#sectionThree .collapseParent .myShow .card-body .box-text-link {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
#sectionThree .collapseParent .myShow .card-body .box-text-link a {
  color: #ff6517;
  text-decoration: none;
  font-size: 1rem;
}
#sectionThree .collapseParent .myShow .card-body .box-text-link i {
  position: absolute;
  top: 2px;
  transition: all 0.7s ease;
  color: #eeeeee;
  font-size: 1rem;
}
#sectionThree .collapseParent .myShow .card-body .box-text-link:hover i {
  transform: translateX(1rem);
  color: #ff6718;
}

#sectionFour {
  padding-top: 120px;
  padding-bottom: 120px;
}
#sectionFour .section-four-text {
  width: 100%;
  text-align: center;
}
#sectionFour .section-four-text h4 {
  font-size: 32px;
  line-height: 42px;
  padding-bottom: 2rem;
  font-style: italic;
}
#sectionFour .section-four-text span {
  font-weight: 600;
  font-size: 1.5rem;
}
#sectionFour .section-four-button {
  padding-top: 2.5rem;
  width: 100%;
  text-align: center;
}
#sectionFour .section-four-button .createBtn {
  color: #fff;
  height: 52px;
  font-size: 17px;
  font-weight: 600;
  background-color: #ff6718;
  border-color: #ff6718;
  transition: all 0.5s ease;
}
#sectionFour .section-four-button .createBtn:hover {
  background-color: #d65915;
}

#myFooter {
  background-color: #eeeeee;
  padding: 3rem 5rem 1rem 5rem;
}
#myFooter .footer-image .footer-img {
  cursor: pointer;
  width: 70px;
  height: 70px;
}
#myFooter .footer-image .footer-img img {
  border-radius: 1000px;
}
#myFooter .footer-image h5 {
  font-style: italic;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: gray;
}
#myFooter .footer-text h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 25.5px;
  color: #3a261c;
}
#myFooter .footer-text ul {
  cursor: pointer;
}
#myFooter .footer-text ul li {
  line-height: 1.5;
  color: gray;
  margin-bottom: 10px;
}
#myFooter .footer-text ul li:hover {
  text-decoration: underline;
}
#myFooter .footer-bottom-left .app-badges {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
#myFooter .footer-bottom-left .app-badges .app-badge {
  border: 1px solid #e0e0e0;
  padding: 1px;
  background: #fff;
  overflow: hidden;
  border-radius: 8px;
}
#myFooter .footer-bottom-right {
  text-align: end;
  color: gray;
}
#myFooter .footer-bottom-right span {
  margin-left: 20px;
}
#myFooter .footer-bottom-right a {
  margin-left: 20px;
  color: gray;
  text-decoration: underline;
}

#signHeader {
  background-color: #eeeeee;
}
#signHeader .homepage-nav {
  padding-top: 1rem;
}
#signHeader .homepage-nav .left a {
  cursor: pointer;
  color: black;
}
#signHeader .homepage-nav .left a i {
  font-size: 1.2rem;
  transition: all 0.5s;
}
#signHeader .homepage-nav .left a i:hover {
  color: #ff6718;
}
#signHeader .homepage-nav .center {
  text-align: center;
}
#signHeader .homepage-nav .center h1 {
  font-size: 22px;
  font-weight: 900;
  color: #404040;
  line-height: 27.5px;
}

#sign {
  background-color: #eeeeee;
}

#signSection {
  background-color: #eeeeee;
}
#signSection .top-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#signSection .top-content-text .textOne {
  font-size: 16px;
  line-height: 24px;
  color: #666;
}
#signSection .top-content-text .textTwo {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #1c110b;
}
#signSection .center-content .form-floating {
  background-color: #eeeeee;
}
#signSection .center-content .form-floating .form-control {
  border-radius: 0;
  background-color: #eeeeee;
  border: none;
  border-bottom: 1px solid gray;
}
#signSection .center-content .form-floating .form-control:focus {
  box-shadow: none;
}
#signSection .bottom-content .signBtn {
  color: #fff;
  height: 52px;
  font-size: 17px;
  font-weight: 600;
  background-color: #ff6718;
  border-color: #ff6718;
}

@media screen and (max-width: 576px) {
  .navbar-nav {
    display: none;
  }
  .navLogo {
    display: none;
  }
  .form-control {
    display: none;
  }
  .formX {
    display: none;
  }
  .buttons {
    width: 100% !important;
  }
  .burger-menu {
    display: block !important;
  }
  .leftSide {
    padding: 3rem 1rem !important;
  }
  .leftSide .left-side-text h1 {
    font-size: 3rem !important;
    font-style: normal !important;
    line-height: 50px;
    font-weight: 400 !important;
  }
  .leftSide .left-side-content p {
    font-size: 1rem !important;
  }
  .leftSide .left-side-buttons .btn-warning {
    width: 100% !important;
    margin-bottom: 0.5rem;
    height: 50px !important;
  }
  .leftSide .left-side-buttons .btn-light {
    width: 100% !important;
    height: 50px !important;
  }
  .rightSide {
    padding: 3rem 1rem !important;
  }
  section .sectionTop .sectionText {
    font-size: 2.5rem !important;
  }
  section .tab-pane-content {
    display: block;
  }
  section .tab-pane-content .tab-pane-number {
    display: none;
  }
  section .tab-pane-content .tab-pane-user {
    width: 100% !important;
    display: block !important;
  }
  section .tab-pane-content .user-write {
    margin-top: 1rem;
    width: 100% !important;
  }
  #sectionThree {
    padding: 5rem 1rem !important;
  }
  #sectionThree .sectionTextP .sectionText {
    font-size: 1.9rem !important;
  }
  #sectionThree .collapseParent {
    width: 100%;
  }
  #myFooter {
    padding: 1rem;
  }
  #myFooter .footer-bottom-right {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  #myFooter .footer-bottom-right span {
    margin: 0;
  }
  #myFooter .footer-bottom-right a {
    margin: 0;
  }
  #signSection .form-control {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    width: 20% !important;
  }
  .drop {
    width: 80% !important;
  }
  .drop .navbar-nav {
    float: right;
  }
  .tab-pane-number {
    display: none;
  }
  .tab-pane-user {
    width: 30% !important;
  }
  .sectionText {
    font-size: 2.5rem !important;
  }
  #sectionTwo {
    padding: 2rem 1rem;
  }
  #sectionTwo .sectionText {
    padding-top: 5rem;
    font-size: 3rem;
  }
  #sectionTwo .box-modelİmg {
    align-self: center;
  }
  #sectionTwo .box-text h3 {
    font-size: 2rem !important;
  }
  #sectionThree {
    padding: 2rem 1rem;
  }
  #sectionThree .sectionTextP .sectionText {
    font-size: 3rem;
  }
  #myFooter {
    padding: 1rem;
  }
}/*# sourceMappingURL=style.css.map */